/*
 * Déclaration et définition de toutes les variables/valeurs du design
 */

:root {
    /* culeurs */

    /* Background/texte */
    --dark: rgb(17, 16, 16);
    --mid-dark: #1F1F21;
    --dark2: rgb(46, 42, 46);
    --white: rgb(244, 245, 252);
    --white2: rgb(192, 192, 215);
    /* palette du design */
    --color1: #94c9a8;
    --color2: #4d5834;
    --color3: #330F0A;
    --color4: #CEB3AB;
    --color5: #788AA3;


    /* typos */

    --font-main: 'Barlow', system-ui, sans-serif;
    --font-display: 'Big Shoulders Display', 'Tahoma', 'Trebuchet MS', system-ui, sans-serif;
    /* graisse */
    --ft-main-light: 300;
    --ft-main-normal: 400;
    --ft-main-bold: 600;

}