/*
 * INDEX
 */

#container1 {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

/* Partie logo */

#sub-container1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#section-logo {
    position: relative;
    left: 5%;
}

/* Logo */
.main-logo {
    color: var(--couleur1);
    font-family: var(--font-display);
    text-transform: uppercase;
    font-size: 30pt;
    margin: 0;
}

#h1-logo {
    width: 60pt;
    margin-right: 10px;
}

#h1-totify {
    font-size: 70pt;
}

#icon-main-logo{
    fill: var(--couleur1);
    width: 100px;
    height: auto;
}

#container-logo img, 
#container-logo h1 {
    display: inline-block;
}

/* Gérer mes albums */

#menu-welcome-page {
    margin-top: 40px;
    position: relative;
    background: var(--mid-dark);
    width: 70%;
    height: fit-content;
    left: 5%;
    font-size: 16pt;
}

#menu-welcome-page a {
    text-decoration: none;
    color: var(--blanc);
    font-size: 16pt;
    line-height: 32pt;
}

#menu-welcome-page a:hover {
    color: var(--blanc2);
}

#menu-welcome-page a:active {
    color: var(--couleur3);
}

/* Image d'illustration */

#img-index {
    width: 60%;
    /* max-width: 1124px; */
}