/*
 * INDEX.HTML
 */

#container1 {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    left: 5%;
    width: 95%;
}

/* Partie logo */

#sub-container1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#section-logo {
    position: relative;
}

/* Logo */
.main-logo {
    color: var(--color1);
    font-family: var(--font-display);
    text-transform: uppercase;
    font-size: 30pt;
    margin: 0;
}

#h1-logo {
    width: 60pt;
    margin-right: 10px;
}

#h1-totify {
    font-size: 70pt;
}

#icon-main-logo{
    fill: var(--color1);
    width: 100px;
    height: auto;
}

#container-logo img, 
#container-logo h1 {
    display: inline-block;
}

/* Gérer mes albums */

#menu-welcome-page {
    margin-top: 40px;
    position: relative;
    background: var(--mid-dark);
    width: 70%;
    height: fit-content;
    font-size: 16pt;
    padding: 2% 0 2% 5%;
}

#menu-welcome-page a {
    text-decoration: none;
    color: var(--white);
    font-size: 16pt;
    line-height: 32pt;
}

#menu-welcome-page a:hover {
    color: var(--white2);
}

#menu-welcome-page a:active {
    color: var(--color3);
}

/* Image d'illustration */

#img-index {
    width: 60%;
}



/* MAINTENANCE.HTML */

#container-maintenance {
    margin: 50px 0;
    position: relative;
    background: var(--mid-dark);
    color: var(--white2);
    width: 80%;
    left: 5%;
    padding: 2% 5% 4%;
    height: fit-content;
}

#flex-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#flex-container h4 {
    position: relative;
    font-weight: var(--ft-main-bold);
    font-size: 36pt;
    width: fit-content;
    margin: 0 0 30px;
}

#rocket-container {
    width: 70%;
    align-self: center;
    margin-bottom: 20px;
}

#rocket-container img {
    width: 100%;
}

#flex-container a {
    font-weight: var(--ft-main-light);
    color: var(--white2);
    width: fit-content;
    align-self: center;
}

#flex-container a:hover {
    font-weight: var(--ft-main-bold);
    color: var(--white);
}


/* SEARCH.HTML */

#container-search-ul,
#container-search-div {
    display: none;
}


/* MANAGE_ALBUMS.HTML */